<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Rails", 'http://www.rubyonrails.ru/' %></li>
      <li><%= link_to "Github", 'https://github.com/' %></li>
    </ul>
  </nav>
</footer>